*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

header{
  background-color:#FF9A4B;
  height:50px;
  width:100%;
}
main{
  margin:50px auto;
  width:960px;
  display:flex;
}
.main-box{
  margin-right:30px;
  background-color:#EEE;
  position:relative;
  padding:10px;
}
.main-box:last-child{
  margin-right:0;
}
span{
  background-color:#FF9A4B;
  color:white;
  position:absolute;
  top:0;
  left:0;
  padding:3px;/*追加*/
}
.step-img1{
  background-image:url(img9/flow01.png);
  background-size:cover;
  background-position:bottom;
  height:150px;
}
.step-img2{
  background-image:url(img9/flow02.png);
  background-size:cover;
  background-position:bottom;
  height:150px;
}
.step-img3{
  background-image:url(img9/flow03.png);
  background-size:cover;
  background-position:bottom;
  height:150px;
}
h3{
  margin:15px 0 5px;
}

footer{
  height:50px;
  width:100%;
  background-color:#AAA
}